#style{
    border-width: 10px;
    border-style: groove;
    border-radius: 8px;
    color: rgb(11, 232, 158);
    font-weight: bold ;
}
#gog{
    border-top: 2px dotted ;
    border-color: blue   ;
    

    

}